/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-width: 1024px;
  color: var(--accent-color, #f1b2ce);
  font-family: var(--main-font, sans-serif);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
 
}

.content-section{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}
@media (width>375px){
  .content-section{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom:60px ;
    margin-top: 60px;
  }
}

.theme-light.page {
  background-image: url(../images/cover-image-light.png);
}
.theme-dark.page {
  background-image: url(../images/cover-image-dark.png);
}

.angle::before {
  position: absolute;
  content: "";
  inset-inline-end: 20px;
  inset-block-start: 20px;
  width: 25px;
  height: 25px;
  border-right: 1px solid #ff0070;
  border-top: 1px solid #ff0070;
}
.angle::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 20px;
  inset-block-end: 20px;
  border-left: 1px solid #ff0070;
  border-bottom: 1px solid #ff0070;
}

@media (width < 768px){
  .angle::after{
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }
}

@media (width < 768px){
  .angle::before{
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }
}

.header {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows:1fr min-content 1fr ;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 23px;
  margin-top: 20px;
}
@media (768px <= width <1024px){
  .header__theme-menu-list {
    margin-top: 25%;
    margin-right: 4%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 11.5px;
  }
}
@media (width < 768px){
  .header__theme-menu-list {
    margin-top: 10.5vh;
    margin-right: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 11.5px;
  }
}
.header__theme-menu {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.header__theme-menu-button {
  cursor: pointer;
  background-color: transparent;
  text-transform: lowercase;
  border: none;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}
.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
  width: 70px;
  margin-right: -9px;
}

.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.heading {
  font-weight: 700;
  line-height: 129.53px;
  text-align: start;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  margin-left: 10px;
}
@media(width >=768px) {
  .heading{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 0;
  }
}

.header-title {
  text-shadow: 4px 4px 0 #ff0070;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.title-decor {
  background-color: var(--accent-bg-color);
  color: #000028;
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
}

.header-descraption {
  grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;
    justify-self: end;
    margin-right: 2vh;
}


@media (width <768px){
  .header-descraption {
    grid-column-start: 1;
      grid-column-end: 3;
      margin-right: 2vh;
      margin-left: 2vh;
  }
}

.concentration {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media(768px<= width<=1024px){
  .concentration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.title-concentration {
  display: flex;
  gap: 20px;
  font-size: inherit;
}

@media(768px <= width <1024px){
  .title-concentration {
    flex-basis: 236px;
    min-height: 47px; 
  }
}
@media(width =1024px){
  .title-concentration {
    flex-basis: 314.96px;
    min-height: 47px; 
  }
}
.concentration-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-end;
  font-size: inherit;
}
@media(width <768px){
  .concentration-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;
    font-size: inherit;
  }
}
@media (768px <= width <1024px){
  .concentration-list {
    flex-basis: 472px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;
    font-size: inherit;
  }
}

@media (width =1024px){
  .concentration-list {
    flex-basis: 648.92px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;
    font-size: inherit;
  }
}

.discraption {
  color: var(--text-color);
  line-height: 23.4px;
  margin-top: 10px;
}

.discraption_link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.discraption_link:hover {
  text-decoration-line: underline;
}
.discraption_link:focus {
  outline: none;
}
.discraption_link:focus-visible {
  outline: 1px solid var(--text-color);
}

.decrease_concentration{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(355px, 100%), 1fr));
  gap:20px;
 }

 @media (min-width: 769px){
  .decrease_concentration {
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  }

.title-decrease_concentration{
  font-size: 18px;

}
@media (width>=1024px){
  .title-decrease_concentration{
    width:315px;
  }
}
@media (768px<= width<1024px){
  .title-decrease_concentration{
    width:236px;
  }
}
.decrease_concentration_list {
  font-size: 18px;
}

@media (min-width: 769px){
  .decrease_concentration_list {
    display: flex;
    gap:20px;
    font-size: 18px;
  }
  }

.multitasking_decrease_concentration {
  padding-bottom: 20px;
  font-size: 18px;
  flex-basis:315px;
}

.food {
 padding-bottom: 20px;
  font-size: 18px;
  flex-basis:315px;
}

.gadgets {
  flex-basis:315px;
  font-size: 18px;
}













.concentrate_better {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media(width<768px){
  .concentrate_better {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.title-concentrate_better {
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: inherit;
}
@media (width >=1024px){
  .title-concentrate_better {
    flex-basis: 315px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: inherit;
  }
}
@media (768px <= width <1024px){
  .title-concentrate_better {
    flex-basis: 236px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: inherit;
  }
}
.advice-container{
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: inherit;
}

@media (width >=1024px){
  .advice-container {
    flex-basis: 649px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: inherit;
  }
}
@media (768px <= width <1024px){
  .advice-container {
    flex-basis: 472px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: inherit;
  }
}
.concentrate_better_list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img {
  margin-top: 20px;
  display: grid;
  grid-template-columns: fit-content(315px);
  grid-template-rows: fit-content(649px);
  gap: 20px;
}

.sunset {
  width: 100%;
  justify-self: stretch;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.ice-cream {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.tape {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.books {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.street {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}


@media (width <768px){
  .img {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.footer {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.footer-title {
  text-shadow: 2px 2px 0 #ff0070;
  align-self: center;
  justify-content: center;
}
